<section class="todoapp" ng-controller="MainCtrl">
    <header class="header">
        <h1>todos</h1>
        <form id="todo-form" ng-submit="addTodo()">
            <input id="new-todo" placeholder="What needs to be done?" ng-model="newTodo" ng-disabled="saving" autofocus>
        </form>
    </header>
    <section id="main" ng-show="todos.length">
        <ul id="todo-list">
            <li ng-repeat="todo in todos" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                <div class="view">
                    <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="toggleCompleted(todo)">
                    <label>{{todo.name}}</label>
                    <button class="destroy" ng-click="removeTodo(todo, $index)"></button>
                </div>
            </li>
        </ul>
    </section>
</section>